@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

html {
  box-sizing: border-box;
  font-size: 100%;
}
body {
  position: relative;
  font-family: "Scala Sans W01 Regular",Roboto,Arial,sans-serif;
  margin: 0;
  padding: 0;
  background: #fff;
}
#about-sec {
  width: 100%;
  padding: 5%;
  text-align: right;
  background-image: url("/images/Christmas-Calendar.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}
#about-secOne {
  margin: 2%;
  margin-top: 6%;
  margin-right: 9%;
  font-size: 2.5rem;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-family: 'Anton', sans-serif;
}
#about-secTwo button:hover {
  transform:scale(1.35);
  transition: 0.2s;
}
#about-secTwo {
  margin-top: 1%;
  margin-bottom: 2%;
  margin-right: 7%;
  font-size: 1.5rem;
  font-weight: bold;
}
#about-secTwo button {
  margin-right: 5%;
  margin-top: 20px;
  border: none; 
    font-size: 2.5rem;
    color:white;
    opacity:100%;
    cursor: pointer;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;  
    font-family: 'Anton', sans-serif;
    z-index: 1;
    background-color: #810000;
}
.missionOne {
  text-align: center;
  margin: 1%;
  margin-top: 3%;
  font-size: 2rem;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-family: Arial, Helvetica, sans-serif;
}
.belifeOne {
  text-align: center;
  margin: 1%;
  margin-top: 3%;
  font-size: 2rem;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-family: Arial, Helvetica, sans-serif;
}
.missionTwo {
  text-align: left;
  margin: 2%;
  font-size: 1.3rem;
  color: #404040;
  line-height: 1.7rem;
  margin-left: 15%;
  margin-right: 15%;
}
.belifeTwo {
  text-align: left;
  margin: 2%;
  font-size: 1.3rem;
  color: #404040;
  text-align: center;
  line-height: 1.7rem;
  margin-left: 15%;
  margin-right: 15%;
}
#firstPara {
  font-family: 'Anton', sans-serif;
  color: #810000;
  font-size: 1.5rem;
}
#hr {
  clear: both;
  background: url('/images/hr-img.png') top center;
  display: block;
  height: 8px;
  border: 0;
  position: relative;
}
#ourTeam {
  text-align: center;
  margin: 2%;
  margin-top: 3%;
  font-size: 2rem;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-family: Arial, Helvetica, sans-serif;
}
#conntactUs {
  text-align: center;
  margin: 2%;
  margin-top: 3%;
  font-size: 2rem;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-family: Arial, Helvetica, sans-serif;
}
*, *:before, *:after {
  box-sizing: inherit;
}
.conntactUs {
  border: 3px solid #fff;}
.contactUs h2 {
  margin: 3%;
}
#details {
  background-image: url('../images/pexels-photo.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 20px;
}
#details h3 {
  text-align: center;
  margin: 1%;
  font-size: 1.5rem;
  font-family: 'Anton', sans-serif;
}
#details p {
  margin: 1%;
  font-size: 1.3rem;
  color: #404040;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
#map {
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5%;
  padding: 10px;
  background-color: whitesmoke;
}
#map iframe{
  width: 100%;
  display: block;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; 
  background-size: 100%;
  background-attachment: fixed;
}
/* from https://www.codingnepalweb.com/ */

.row {
  margin-left: 10%;
}
.column {
  height: 250px;
  width: 250px;
  display: inline-flex;
  justify-content:center;
  overflow: hidden;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.3);
  background: linear-gradient(45deg, #F0FFFF, #810000);
}
.column:hover{
  height: 400px;
  width: 311px;
  border-radius: 5px;
  box-shadow: 0px 1px 35px 0px rgba(0,0,0,0.3);
}
.column .card img{
  position: relative;
  z-index: 20;
  border-radius: 50%;
  display: block;
  height: 200px;
  width: 200px;
  border: 2px solid #fff;
  object-fit: cover;
  margin: 20px auto;
  transition: all 0.3s ease;
}
.card .container h2{
  color: black;
  text-align: center;
  line-height: 1.7rem;
  font-size: 30px;
  font-weight: 500;
  padding: 10px;
  line-height: 25px;
  font-family: 'Anton', sans-serif;
}
.card .title{
  color: #404040;
  font-size: 17px;
  margin: 10px 0;
  text-align: center;
  line-height: 1.7rem;
}
.card .container .mail{
  color: black;
  text-align: center;
  line-height: 1.7rem;
  font-size: 17px;
  margin-top: 10px;
  padding: 1px 20px 10px 20px!important;
}
@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
}
}
