body{
    width: 99%;
}

#volunteerlist div ul li:first-child {
    color: red;
    font-size: large;
}

#volunteerlist {
    /* border: red; */
    border-radius: 5px;
    border-style: dashed;
    display: inline-block;
    
    width: 100%;
}


#volunteerlist div ul li:nth-child(4){
    color:gold;
}

#volunteerlist div ul{
   margin: 10px;
   width: 99%;
   
   
}
#volunteerlist div {
   
    display: inline-block;
    
 }

 form{
    text-align: center;
    padding-right: 200px;
    padding-left: 200px;
}

