
 @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
main {

background-image: url(https://images.unsplash.com/photo-1611955727536-b3799f3c4ab9?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=758&q=80);
background-position: top;
background-repeat: no-repeat;
background-size: cover;
height:800px;
 
}

 /* body {
   background-color: #f1fcfc;
} */

#headerDonation {
    background-color: #fff;
    border-bottom:solid #CCF1F0 2px;
}

#headerDonation ul li a{
    color : #3e5d68;
    text-shadow: none;
}


#dateSearch{
    text-align: center;
    width: 20%;
    margin:0 auto;
    font-size: x-large;


}

#dateSearch p{
    
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder ; 
    margin-left: 25%;
    padding-top: 20px;
    padding-bottom: 10px;
    /* margin-top: 5%; */
}

#listTitle {
    font-size: x-large;
    width: 80%;
    margin:0 auto;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder ;
    margin-bottom: 20px;
}


input,
textarea {
    /* margin: 0 auto; */
    padding: 30px  ;
    border: 0;
    width: 100%;
    font-size: 1rem;
    background-color: #09a098;
    color: white;
    border-radius: 4px;
}

#volunteerlist{

    position: relative;
    margin: 0% 5% 0 10% ;
    width: 85%;
}

#volunteerlist div {
     /* border-radius: 50% 10%;
    background-image: var(--img-url), linear-gradient(to bottom left, #f83600, #f9d423); */
    float: left;


}

#volunteerlist div ul {
    color: #f1fcfc;
    display: inline-block;
    width: 250px;
    height: 200px;
    background-color: #09a098;
    margin-right:10% ;
    margin-bottom: 5%;
    /* width: 20%; */
    border-radius: 50% 10%;
    background-image: var(--img-url), linear-gradient(to bottom left, #f83600, #f9d423);

}

#volunteerlist div ul li {
    font-family: 'Anton', sans-serif; 
    padding-left: 35px;
    padding-bottom: 10px;
    
}

#volunteerlist div ul li:nth-child(1){
    padding-top: 50px;
}
/* 
 #volunteerlist div::before ul{
content: '';
display:inline-block;
width: 20px;  
}   */


/* 
#volunteerlist div::after {
right: 20px;  
} */

   
#blank{
    height: 350px;
}


